* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
}

:root {
    font-size: 62.5%;
}

h1 {
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-size: 9.6rem;
    /* rem sempre respeita o valor do root */
}

h2 {
    font-size: 3.2rem;
    margin-left: 1rem;
}

div.bg {
    height: 50vh;
    width: 100vw;
    background-color: #555;
    background-image: url('https://images.unsplash.com/photo-1682685797660-3d847763208e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

table, td, th {
    border: 1px solid black;
}

table tr:first-child {
    background-color: steelblue;
    color: #fff;
}

table tr:nth-child(2n + 3) {
    background-color: #AAA;
}

table {
    font-size: 2.4rem;
    border-collapse: separate;
    margin-left: 1rem;
}

p {
    text-align: justify;
    font-size: 1.8rem;
    text-indent: 9rem;
    margin-left: 1rem;
}

ul, ol {
    padding-left: 3.2rem;
    margin-left: 1rem;
}

ul {
    list-style: square;
}

ol {
    list-style: upper-roman;
}

.boxes { 
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 30%;
    height: 10rem;
    width: 20rem;
    padding: 1.5rem;
    margin: 1.5rem;
    background-color: blue;
    color: #fff;
    border: 10px solid red;
    display: inline-block;
    border-radius: .4rem;
    position: static;
}

.box + span {
    display: none;
}

/* .box:nth-child(1) {
    float: right;
} */

/* .box:nth-child(1) {
    position: absolute;
    top: 0;
    left: 30rem;
} */

/* .box:nth-child(2) {
    position: fixed;
    top: 1.5rem;
    left: 3rem;
} */

/* .box:nth-child(n + 2) {
    display: none;
} */

nav.menu {
    position: fixed;
    background-color: steelblue;
    width: 100vw;
    height: 7rem;
    z-index: 1;
}

.contact-list h2 {
    top: 7rem;
    position: sticky;
    background-color: limegreen;
}

img {
    height: 10rem;
}